@use "../abstracts/" as *;

#dashboard {
    min-height: 100vh;
    background-color: setcolor(background-color, 500);
}

.dashboard {
    &__grid {
        display: grid;
        grid-template-areas:
            "header header header"
            "sidebar container container"
            "sidebar container container";
        grid-template-columns: 15rem 1fr 1fr;
        grid-template-rows: 5rem auto;
        min-height: 100vh;
        padding: 0.5rem 2rem 1.7rem;

        > * {
            &:nth-child(1) {
                grid-area: header;
            }
            &:nth-child(2) {
                grid-area: sidebar;
            }
            &:nth-child(3) {
                grid-area: container;
                min-height: 1fr;
                background-color: setcolor(background-color, 400);
            }
        }
    }
}
