@use "../abstracts" as *;

#connect {
    min-height: 100vh;
    background: url("../media/static/landing_background.png") no-repeat center
        center fixed;
    @include image-background;

    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        display: flex;
        flex-direction: column;
        aspect-ratio: 1 / 0.55;
        align-items: stretch;
    }

    &__button {
        @include flex-column-center;
        gap: 0.6rem;
    }
}

.connect {
    &__description {
        @include flex-column-center;

        border-top-left-radius: $corner;
        border-top-right-radius: $corner;
        flex: 1;
        background-color: white;
        padding: 1em;
    }
    &__input {
        @include flex-column-center;

        border-bottom-right-radius: $corner;
        border-bottom-left-radius: $corner;
        flex: 2;
        background-color: hsla(0, 0%, 11%, 0.726);
        padding: 4rem;

        form[name="connect"] {
            @include flex-column-center;

            gap: 1rem;

            > * {
                width: 100%;
            }
        }

        form[name="register"] {
            display: grid;
            gap: 1rem;
            grid-template-areas:
                "username username"
                "password confirmation"
                "email email"
                "checkbox checkbox";

            > * {
                width: 100%;
                display: flex;

                &:nth-child(1) {
                    grid-area: username;
                }
                &:nth-child(2) {
                    grid-area: password;
                }
                &:nth-child(3) {
                    grid-area: confirmation;
                }
                &:nth-child(4) {
                    grid-area: email;
                }
                &:nth-child(5) {
                    grid-area: checkbox;
                }
                &:nth-child(6) {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: map-get($breakpoints, small)) {
    #connect {
        &__container {
            flex-direction: row;
            width: min(100vw - 10rem, 60rem);
        }
    }
    .connect {
        &__description {
            border-bottom-left-radius: $corner;
            border-top-right-radius: 0px;
        }
        &__input {
            border-top-right-radius: $corner;
            border-bottom-left-radius: 0px;
        }
    }
}
