@use "../abstracts" as *;

.rooms {
    padding-top: 1.5rem;
}

.inrooms {
    &__container {
        background-color: setcolor(background-color, 400);

        max-width: 1fr;
        border-radius: $corner;
        padding: 1.5rem 1rem;
        margin: 1rem 0 2rem;
    }
    &__cards {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    }
}

.public-rooms {
    &__container {
        margin: 1rem 0 2rem;
    }
    &__cards {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    }
}
