$colors: (
    error: (
        500: hsl(0, 100%, 68%),
    ),
    background-color: (
        100: hsl(0, 0%, 98%),
        200: hsl(0, 0%, 23%),
        300: hsl(0, 0%, 18%),
        400: hsl(0, 0%, 14%),
        500: hsl(0, 0%, 9%),
    ),
    text-wh: (
        300: hsl(0, 0%, 16%),
        400: hsl(0, 0%, 30%),
        500: rgb(122, 122, 122),
    ),
    text-dk: (
        300: hsl(0, 0%, 54%),
        400: hsl(0, 0%, 60%),
        500: hsl(0, 0%, 100%),
    ),
    alert: (
        100: hsl(141, 20%, 22%),
        200: hsl(141, 100%, 85%),
        300: hsl(140, 44%, 50%),
        400: hsl(140, 75%, 63%),
        500: hsl(140, 93%, 60%),
    ),
    secondary: (
        400: hsl(32, 100%, 93%),
        500: hsl(0, 0%, 100%),
    ),
);
