$colors: (
    main: (
        500: hsl(346, 53%, 58%),
    ),
    text__dk: (
        400: hsl(0, 0%, 45%),
        500: hsl(0, 0%, 54%),
    ),
    alert: (
        100: hsl(120, 75%, 94%),
        300: hsl(140, 100%, 68%),
        400: hsl(140 80% 75%),
        500: hsl(140, 100%, 75%),
    ),
);
