@use "functions" as *;

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin btn-green {
    background-color: setcolor(alert, 500);

    border: 0px;
    border-radius: 5px;

    padding: 0.7rem;

    &:hover {
        background-color: setcolor(alert, 300);
    }
}
