@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-in {
  0% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes icon-error {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(-3px);
  }
  40% {
    transform: translateX(1px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes icon-success {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.3) rotate(2deg);
  }
  40% {
    transform: scale(1.3);
  }
  80% {
    transform: rotate(-2deg);
  }
  100% {
    transform: scale(1);
  }
}
:root {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: hsl(0deg, 0%, 100%);
}

h1,
.h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.2rem;
}
h1.wh-background,
.h1.wh-background {
  color: hsl(0deg, 0%, 16%);
}

h2,
.h2 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.8rem;
}

h3,
.h3 {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.7rem;
}
h3.wh-background,
.h3.wh-background {
  color: hsl(0deg, 0%, 16%);
}

ul {
  padding: 0;
  list-style-type: none;
  font-weight: 300;
}
ul .active {
  font-weight: 500;
}

/* form -------------------------------------------------------------------- */
input,
.input {
  letter-spacing: 0.05rem;
}

form {
  font-size: 0.9em;
  font-weight: 300;
}

.input-checkbox {
  font-size: 0.8rem;
}

/* button ------------------------------------------------------------------ */
.btn-primary {
  font-weight: 500;
  font-size: 1.1rem;
}
.btn-primary ~ span {
  font-weight: 500;
  font-size: 0.8rem;
}

.btn-text-only {
  font-size: 0.8rem;
  text-transform: uppercase;
}

/* icons ------------------------------------------------------------------- */
[class^=icon__]::before {
  font-family: "Material Icons";
  font-size: 1.7em;
}
[class^=icon__]::after {
  font-family: "Material Icons";
  font-size: 1.7em;
}

/* router ------------------------------------------------------------------ */
.link {
  text-decoration: none;
  color: inherit;
}

/* chat -------------------------------------------------------------------- */
.ge-center__messages__container .chat-user-infos {
  font-size: 0.7rem;
}
.ge-center__messages__container .chat-user-name {
  font-size: 0.8rem;
  text-transform: uppercase;
}
.ge-center__messages__message {
  font-size: 0.9rem;
  font-weight: 500;
}

/* specifics --------------------------------------------------------------- */
.contacts__add ~ span {
  font-size: 0.8rem;
}

.inrooms-card__add::after {
  font-family: "Material Icons";
  font-size: 1.7em;
}

.public-rooms-card ul {
  font-size: clamp(0.7rem, 1.5vw, 0.9rem);
}

.sidebar__quickcard span {
  font-size: 0.9rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
#connect {
  min-height: 100vh;
  background: url("../media/static/landing_background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#connect__container {
  display: flex;
  flex-direction: column;
  aspect-ratio: 1/0.55;
  align-items: stretch;
}
#connect__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  gap: 0.6rem;
}

.connect__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  flex: 1;
  background-color: white;
  padding: 1em;
}
.connect__input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  flex: 2;
  background-color: hsla(0deg, 0%, 11%, 0.726);
  padding: 4rem;
}
.connect__input form[name=connect] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  gap: 1rem;
}
.connect__input form[name=connect] > * {
  width: 100%;
}
.connect__input form[name=register] {
  display: grid;
  gap: 1rem;
  grid-template-areas: "username username" "password confirmation" "email email" "checkbox checkbox";
}
.connect__input form[name=register] > * {
  width: 100%;
  display: flex;
}
.connect__input form[name=register] > *:nth-child(1) {
  grid-area: username;
}
.connect__input form[name=register] > *:nth-child(2) {
  grid-area: password;
}
.connect__input form[name=register] > *:nth-child(3) {
  grid-area: confirmation;
}
.connect__input form[name=register] > *:nth-child(4) {
  grid-area: email;
}
.connect__input form[name=register] > *:nth-child(5) {
  grid-area: checkbox;
}
.connect__input form[name=register] > *:nth-child(6) {
  display: none;
}

@media (min-width: 50em) {
  #connect__container {
    flex-direction: row;
    width: min(100vw - 10rem, 60rem);
  }

  .connect__description {
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
  }
  .connect__input {
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
  }
}
#dashboard {
  min-height: 100vh;
  max-width: 100vw;
  background-color: hsl(0deg, 0%, 9%);
}

.dashboard__grid {
  padding: 0.5rem 2rem 1.7rem;
  display: flex;
  flex-direction: column;
}
.dashboard__grid > *:nth-child(2) {
  display: none;
}
.dashboard__grid.game-active > *:nth-child(2) .sidebar__rooms {
  padding-left: 0.5rem;
  direction: rtl;
  overflow-y: auto;
}
.dashboard__grid.game-active > *:nth-child(2) .sidebar__rooms::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.7rem;
}
.dashboard__grid.game-active > *:nth-child(2) .sidebar__rooms::-webkit-scrollbar-thumb {
  background: hsl(0deg, 0%, 23%);
}
.dashboard__grid.game-active > *:nth-child(2) .sidebar__rooms::-webkit-scrollbar-track {
  background: hsl(0deg, 0%, 14%);
}
.dashboard__grid.game-active > *:nth-child(2) .sidebar__rooms > * {
  direction: ltr;
}
.dashboard__grid.game-active > *:nth-child(3) {
  overflow: hidden;
}

@media (min-width: 50em) {
  .dashboard__grid {
    display: grid;
    grid-template-areas: "header header header" "sidebar container container" "sidebar container container";
    grid-template-columns: 15rem 1fr 1fr;
    grid-template-rows: 5rem 1fr 1fr;
    min-height: 100vh;
  }
  .dashboard__grid > *:nth-child(1) {
    grid-area: header;
  }
  .dashboard__grid > *:nth-child(2) {
    grid-area: sidebar;
    display: inline-flex;
  }
  .dashboard__grid > *:nth-child(3) {
    grid-area: container;
  }
  .dashboard__grid.game-active {
    min-height: 0;
    height: 100vh;
  }
}
.rooms {
  padding-top: 1.5rem;
}

.inrooms__container {
  background-color: hsl(0deg, 0%, 14%);
  max-width: 1fr;
  border-radius: 5px;
  padding: 1.5rem 1rem;
  margin: 1rem 0 2rem;
}
.inrooms__cards {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.public-rooms__container {
  margin: 1rem 0 2rem;
}
.public-rooms__cards {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.duat {
  padding-top: 1.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.duat__title {
  display: flex;
  gap: 2rem;
}
.duat__title .btn-text-only {
  background-color: hsl(140deg, 93%, 60%);
  text-transform: uppercase;
  color: black;
  border-radius: 5px;
  transition: background-color 250ms ease-in;
}
.duat__title .btn-text-only.disable {
  background-color: hsl(0deg, 0%, 23%);
  color: hsl(0deg, 0%, 60%);
  cursor: default;
  border-radius: 5px;
}
.duat__container {
  background-color: hsl(0deg, 0%, 14%);
  height: 100%;
  padding: 1.5rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.duat__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  overflow-y: scroll;
}
.duat__cards::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.7rem;
}
.duat__cards::-webkit-scrollbar-thumb {
  background: hsl(0deg, 0%, 9%);
}
.duat__cards::-webkit-scrollbar-track {
  background: hsl(0deg, 0%, 18%);
}

#game-engine {
  width: 100%;
  height: 100%;
  margin-top: 1.5rem;
  display: grid;
  grid-template-areas: "sidebar header header" "sidebar container container" "sidebar container container";
  grid-template-columns: 25rem 1fr 9%;
  grid-template-rows: 25% 1fr 1fr;
  gap: 1rem;
}
#game-engine > *:nth-child(1) {
  grid-area: sidebar;
}
#game-engine > *:nth-child(2) {
  grid-area: header;
}
#game-engine > *:nth-child(3) {
  grid-area: container;
}
#game-engine > *:nth-child(4) {
  grid-area: infos;
}

.game-engine__center-container {
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 1rem;
  gap: 1rem;
  background-color: hsl(0deg, 0%, 14%);
  border-radius: 5px;
}

.ge-center__messages__container {
  min-height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  padding-right: 1rem;
}
.ge-center__messages__container::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.7rem;
}
.ge-center__messages__container::-webkit-scrollbar-thumb {
  background: hsl(0deg, 0%, 9%);
}
.ge-center__messages__container::-webkit-scrollbar-track {
  background: hsl(0deg, 0%, 18%);
}
.ge-center__messages__container .my-message {
  align-self: flex-end;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.ge-center__messages__container .my-message .chat-user-infos {
  margin-top: 4px;
}
.ge-center__messages__container .chat-user-infos {
  color: hsl(0deg, 0%, 60%);
}
.ge-center__messages__container .chat-user-name {
  color: hsl(0deg, 0%, 100%);
  margin-top: 10px;
}

.ge-center__input__container {
  border-bottom: 1.2rem solid rgba(255, 0, 170, 0);
  position: relative;
}
.ge-center__input__container .triggers {
  color: rgb(122, 122, 122);
  font-size: 0.9rem;
  font-weight: 500;
  width: 40rem;
  position: absolute;
  bottom: 3rem;
  padding: 1rem;
  background: rgb(254, 255, 245);
  border-radius: 5px;
}
.ge-center__input__container .triggers > * {
  display: flex;
  gap: 1rem;
  margin-top: 5px;
  border-bottom: 1px solid hsl(0deg, 0%, 60%);
}
.ge-center__input__container .triggers > * > * {
  flex: 1;
}
.ge-center__input__submit {
  position: absolute;
  background-color: hsl(0deg, 0%, 18%);
  padding: 2px;
  border-radius: 5px;
  top: 0.6rem;
  z-index: 2;
  right: 0.4rem;
}

.ge-center__messages__log {
  background-color: hsl(0deg, 0%, 9%);
  color: hsl(0deg, 100%, 68%);
  padding: 5px 20px;
  width: 100%;
  border-radius: 12.5px;
}
.ge-center__messages__message {
  background-color: hsl(0deg, 0%, 23%);
  padding: 5px 15px;
  border-radius: 12.5px;
}
.ge-center__messages__message.my-message {
  background-color: hsl(140deg, 93%, 60%);
  color: hsl(0deg, 0%, 9%);
}
.ge-center__messages__message.message-img {
  width: 25rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.ge-center__messages__message.message-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */
}

.game-engine__left-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0deg, 0%, 14%);
  border-radius: 5px;
  padding: 1rem;
}
.game-engine__left-container .ge-left__card {
  width: 100%;
  aspect-ratio: 1/1.72;
  border-radius: 5px;
  overflow: hidden;
  border: 3px solid rgb(254, 255, 245);
}
.game-engine__left-container .ge-left__card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */
}

.game-engine__top-container {
  display: grid;
  grid-template-columns: 1fr 15rem;
  gap: 1rem;
  border: 1px solid hsl(0deg, 0%, 18%);
  border-radius: 5px;
}
.game-engine__top-container > * {
  padding: 1rem;
}
.game-engine__top-container .ge-top__narration {
  overflow-y: auto;
}
.game-engine__top-container .ge-top__narration::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.7rem;
}
.game-engine__top-container .ge-top__narration::-webkit-scrollbar-thumb {
  background: hsl(0deg, 0%, 23%);
}
.game-engine__top-container .ge-top__narration::-webkit-scrollbar-track {
  background: hsl(0deg, 0%, 14%);
}
.game-engine__top-container .ge-top__narration__message {
  color: hsl(0deg, 0%, 54%);
}
.game-engine__top-container .ge-top__narration__message.last-message {
  color: hsl(32deg, 100%, 93%);
}
.game-engine__top-container .ge-top__narration__description {
  font-size: 0.9rem;
  margin-top: 1rem;
}
.game-engine__top-container .ge-top__character {
  height: 100%;
  width: 100%;
  border-left: 1px solid hsl(0deg, 0%, 18%);
  display: flex;
}
.game-engine__top-container .ge-top__character h5,
.game-engine__top-container .ge-top__character ul {
  margin: 0;
}
.game-engine__top-container .ge-top__character__dm {
  color: hsl(140deg, 93%, 60%);
  align-self: center;
  margin: 0 auto;
  text-align: center;
}
.game-engine__top-container .ge-top__character__dm > *:first-child {
  font-size: 4rem;
}
.game-engine__top-container .ge-top__character__infos {
  align-self: center;
}

.game-engine__right-container h5 {
  margin: 0;
  padding: 0.4rem;
  text-align: center;
}

.ge-right__players {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.ge-right__players__img {
  width: 70%;
  height: 8rem;
  overflow: hidden;
  border-radius: 10px;
}
.ge-right__players__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */
}

button {
  cursor: pointer;
}

.btn-primary {
  background-color: hsl(140deg, 75%, 63%);
  height: 3rem;
  border: 0px;
  border-radius: 5px;
  padding: 0.7rem;
  transition: background-color 350ms ease-in;
}
.btn-primary ~ span {
  color: hsl(0deg, 0%, 54%);
}
.btn-primary ~ span a {
  cursor: pointer;
  color: white;
  text-decoration: solid underline white 1px;
  text-underline-offset: 0.1rem;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: hsl(140deg, 93%, 60%);
  transition: background-color 350ms;
}

.btn-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0deg, 0%, 100%);
  gap: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 5px;
}
.btn-secondary:hover, .btn-secondary:focus {
  background-color: hsl(0deg, 0%, 100%);
  transition: background-color 350ms;
}

.btn-close,
.btn-back {
  color: hsl(0deg, 0%, 100%);
  background: none;
  border: none;
  margin: 0px -10px;
  transition: all 100ms ease-in;
}
.btn-close:hover .btn-close__icon,
.btn-close:hover .btn-back__icon,
.btn-back:hover .btn-close__icon,
.btn-back:hover .btn-back__icon {
  transform: rotate(1.25turn);
  transition: transform 700ms ease-in-out;
}
.btn-close.inactive,
.btn-back.inactive {
  color: hsl(0deg, 0%, 54%);
  cursor: default;
}

.btn-story {
  color: hsl(0deg, 0%, 100%);
  background: none;
  border: none;
}
.btn-story__image {
  width: 100%;
  aspect-ratio: 1/0.33;
  border-radius: 5px;
  overflow: hidden;
}
.btn-story__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */
}
.btn-story__image:hover img {
  filter: contrast(115%);
}
.btn-story__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 0.3rem;
}
.btn-story__description {
  color: hsl(0deg, 0%, 60%);
  text-align: left;
}

.btn-friend {
  color: hsl(0deg, 0%, 100%);
  position: relative;
  background: none;
  border: none;
}
.btn-friend > span {
  color: hsl(0deg, 100%, 68%);
  position: absolute;
  right: 0;
  top: 1.5rem;
  height: inherit;
  opacity: 0;
}
.btn-friend.selected > span {
  animation: fade-in 250ms forwards;
}
.btn-friend.selected .friend-card {
  background-color: hsl(0deg, 0%, 14%);
  border-radius: 5px;
}
.btn-friend.selected .friend-card:hover {
  background-color: hsl(0deg, 0%, 9%);
  transition: background-color 350ms;
}

.btn-text-only {
  color: hsl(140deg, 75%, 63%);
  background: none;
  border: none;
}

input,
textarea {
  border-color: hsl(0deg, 0%, 60%);
  color: white;
  outline: 0;
  background: none;
  padding: 0.7rem 0.6rem;
  border-width: 0 0 1px;
  transition: background-color 150ms ease-in;
}
input::placeholder,
textarea::placeholder {
  color: hsl(0deg, 0%, 54%);
  padding: 0.4rem;
}
input:hover, input:focus,
textarea:hover,
textarea:focus {
  background-color: hsla(0deg, 0%, 0%, 0.308);
  transition: background-color 150ms ease-in;
}

textarea {
  width: 100%;
  resize: none;
}

input:not([type=checkbox]) {
  width: 100%;
}

.input-checkbox {
  display: flex;
  gap: 0.5rem;
}

.input-default::placeholder {
  color: hsl(0deg, 0%, 60%);
}

.addroom__input-field {
  position: relative;
}
.addroom__input-field input ~ span {
  position: absolute;
  right: 0;
  top: 5px;
}
.addroom__input-field textarea ~ span {
  position: absolute;
  right: 0;
  bottom: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.friend-card {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1em;
}
.friend-card__image {
  width: 4.5rem;
  aspect-ratio: 1/1;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.friend-card__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */
}
.friend-card__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: flex-start;
  gap: 0;
}
.friend-card__username {
  color: hsl(0deg, 0%, 54%);
}
.friend-card:hover {
  background-color: hsl(0deg, 0%, 18%);
  border-radius: 10px;
  transition: background-color 150ms ease-in-out;
}

.inrooms-card {
  min-width: 15rem;
  min-height: 22.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.inrooms-card__img {
  position: relative;
  width: 100%;
  aspect-ratio: 2/3;
  border-radius: 5px;
  overflow: hidden;
}
.inrooms-card__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */
}
.inrooms-card__label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(0deg, 0%, 16%);
  background-color: hsl(140deg, 75%, 63%);
  position: absolute;
  height: 2rem;
  bottom: 1rem;
  width: 100%;
}
.inrooms-card__hover {
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: rgb(0, 0, 0);
  background: linear-gradient(20deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.3) 100%);
  opacity: 0;
  padding: 2rem 1rem;
}
.inrooms-card:hover .inrooms-card__hover {
  z-index: 1;
  transform: scale(1.025);
  opacity: 1;
  transition: transform 150ms ease-in;
  animation: fade-in 150ms ease-in;
}
.inrooms-card__add {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0deg, 0%, 18%);
  border: 5px dashed hsl(0deg, 0%, 23%);
  height: 100%;
  border-radius: 5px;
  position: relative;
}
.inrooms-card__add::after {
  background: hsl(0deg, 0%, 14%);
  cursor: pointer;
  position: absolute;
  bottom: 0.5rem;
  right: 0.6rem;
  font-weight: 700;
  border-radius: 10px;
  padding: 0.5rem 0.8rem;
  content: "\e145";
}

.public-rooms-card {
  min-width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
}
.public-rooms-card__full .public-rooms-card__img {
  z-index: 0;
}
.public-rooms-card__full .public-rooms-card__img img {
  filter: grayscale(70%);
}
.public-rooms-card__full .public-rooms-card__img::before {
  z-index: 1;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.233);
}
.public-rooms-card__full .public-rooms-card__img::after {
  background: hsl(0deg, 0%, 14%);
  position: absolute;
  bottom: 0.5rem;
  right: 0.6rem;
  font-weight: 700;
  border-radius: 10px;
  padding: 0.5rem 0.8rem;
  content: "FULL";
}
.public-rooms-card__full .public-rooms-card__title {
  color: hsl(0deg, 0%, 54%);
}
.public-rooms-card__full .public-rooms-card__hover {
  display: none;
}
.public-rooms-card > *:last-child {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.public-rooms-card__img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.public-rooms-card__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */
}
.public-rooms-card__hover {
  opacity: 0;
  position: absolute;
  background: rgb(0, 0, 0);
  background: linear-gradient(20deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.5) 100%);
  height: 100%;
  top: 0;
  border-radius: 5px;
  padding: 1rem;
}
.public-rooms-card__hover li::before {
  color: hsl(140deg, 75%, 63%);
  margin-right: 0.5rem;
}
.public-rooms-card:not(.public-rooms-card__full .public-rooms-card) {
  img-filter: contrast(200%);
}
.public-rooms-card:not(.public-rooms-card__full .public-rooms-card) .public-rooms-card__title p {
  background-color: hsl(0deg, 0%, 14%);
  color: hsl(0deg, 0%, 60%);
  flex: 1;
  margin-top: 7px;
  border-radius: 5px;
}
.public-rooms-card:hover:not(.public-rooms-card__full .public-rooms-card) .public-rooms-card__hover {
  opacity: 1;
  animation: fade-in 150ms ease-in;
}
.public-rooms-card p {
  padding: 0.7rem;
}
.public-rooms-card h5 {
  margin: 0;
}

.sidebar__quickcard__img {
  width: 100%;
  aspect-ratio: 1/0.4;
  border-radius: 5px;
  overflow: hidden;
}
.sidebar__quickcard__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */
}
.sidebar__quickcard span {
  color: hsl(0deg, 0%, 60%);
}
.sidebar__quickcard:hover span {
  color: hsl(0deg, 0%, 100%);
  transition: color 150ms ease-in;
}
.sidebar__quickcard:hover img {
  filter: contrast(115%);
}

.duat__card {
  min-width: 15rem;
  max-width: 20rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}
.duat__card p {
  color: hsl(0deg, 0%, 60%);
}
.duat__card .btn-text-only {
  background-color: hsl(0deg, 0%, 9%);
  height: 2rem;
  width: 100%;
  margin-top: auto;
}
.duat__card .btn-text-only:hover {
  background: hsl(0deg, 0%, 18%);
}
.duat__card:hover .duat__img img {
  transform: scale(1.2);
  transition: transform 7s;
}
.duat__img {
  width: 100%;
  aspect-ratio: 1/1.72;
  border-radius: 5px;
  overflow: hidden;
  border: 3px solid rgb(254, 255, 245);
}
.duat__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */
}

.image__stats__container {
  position: relative;
}
.image__stats__container > * {
  font-family: "Just Another Hand", cursive;
  text-transform: uppercase;
}
.image__stats__hp {
  position: absolute;
  text-align: center;
  padding: 0.2rem;
  top: 0px;
  left: 0px;
  height: 5rem;
  width: 2.5rem;
  background-color: rgb(254, 255, 245);
  border-end-end-radius: 15px;
  color: #3d3d3d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.image__stats__hp h3 {
  font-size: 1.7rem;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}
.image__stats__hp h4 {
  font-size: 1.2rem;
}
.image__stats__atk {
  font-size: 1.7rem;
  position: absolute;
  text-align: center;
  padding: 0.5rem;
  width: 2.5rem;
  bottom: 0.5rem;
  left: 0;
  background: rgb(254, 255, 245);
  border-start-end-radius: 15px;
  color: #3d3d3d;
  z-index: 2;
}
.image__stats__atk h3 {
  font-size: 1.7rem;
}
.image__stats__atk h4 {
  font-size: 1.2rem;
}
.image__stats__def {
  position: absolute;
  text-align: center;
  padding: 0.5rem;
  width: 2.5rem;
  bottom: 0.5rem;
  right: 0;
  background: rgb(254, 255, 245);
  border-start-start-radius: 15px;
  color: #3d3d3d;
  z-index: 2;
}
.image__stats__def h3 {
  font-size: 1.7rem;
}
.image__stats__def h4 {
  font-size: 1.2rem;
}
.image__stats__name {
  font-family: "Just Another Hand", cursive;
  letter-spacing: 2px;
  font-size: 1.2rem;
  position: absolute;
  text-align: center;
  padding: 0.2rem;
  bottom: 0;
  width: 100%;
  background: rgb(254, 255, 245);
  color: rgb(24, 24, 24);
}
.image__stats__name h4 {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}
.image__stats__name h5 {
  font-size: 1rem;
  margin: 0;
}

.contacts {
  background-color: hsl(0deg, 0%, 14%);
  z-index: 10;
  position: fixed;
  top: 0;
  right: -17rem;
  height: 100%;
  width: 17rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.2rem;
  transition: right 200ms cubic-bezier(0.5, 0, 0.5, 1);
}
.contacts__header {
  max-height: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts__display > ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.contacts__add {
  background-color: hsl(0deg, 0%, 18%);
  cursor: pointer;
  padding: 0rem 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 100ms ease-in-out;
}
.contacts__add:hover {
  background-color: hsl(0deg, 0%, 23%);
  transition: background-color 100ms ease-in-out;
}
.contacts__add .error {
  color: hsl(0deg, 100%, 68%);
  transition: color 100ms ease-in;
  animation: icon-error 150ms ease-in;
}
.contacts__add .valid {
  color: hsl(140deg, 75%, 63%);
  transition: color 100ms ease-in;
  animation: icon-success 200ms cubic-bezier(0.01, 0.53, 0.94, 0.08);
}
.contacts__add-label {
  animation: fade-in 100ms ease-in;
}
.contacts.active {
  right: 0;
}

[class^=icon__]::before {
  margin-right: 25px;
  vertical-align: middle;
}
[class^=icon__]::after {
  vertical-align: middle;
}

.icon__room::before {
  content: "\eb4f";
}
.icon__assets::before {
  content: "\e02f";
}
.icon__characters::before {
  content: "\e84e";
}
.icon__seat::before {
  content: "\efed";
}
.icon__story::before {
  content: "\e411";
}
.icon__dm::before {
  content: "\ea3e";
}
.icon__selected::before {
  content: "\f230";
}
.icon__add-friend::after {
  content: "\e7fe";
}
.icon__edit::after {
  content: "\e745";
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header p {
  color: hsl(140deg, 75%, 63%);
}
.header__menu > ul {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.header__menu > ul li {
  background-color: hsl(0deg, 0%, 18%);
  cursor: pointer;
  width: 3.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__menu > ul li img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */
}

.sidebar {
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
}
.sidebar ul {
  color: hsl(0deg, 0%, 54%);
}
.sidebar ul .active {
  color: hsl(0deg, 0%, 100%);
}
.sidebar ul li:hover:not(.active) {
  color: hsl(0deg, 0%, 100%);
  transition: color 100ms ease-in;
}
.sidebar__rooms {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.addroom__progression {
  background-color: hsl(0deg, 0%, 54%);
  position: relative;
  width: 2em;
  height: 4px;
  margin-top: -5px;
  transition: background-color 200ms ease-in;
}
.addroom__progression::before, .addroom__progression::after {
  background-color: hsl(0deg, 0%, 54%);
  content: "";
  position: absolute;
  width: 2em;
  height: 4px;
  transition: background-color 250ms ease-in-out;
}
.addroom__progression::before {
  left: -2.5em;
}
.addroom__progression::after {
  right: -2.5em;
}
.addroom__progression.step-one::before {
  background-color: hsl(140deg, 93%, 60%);
}
.addroom__progression.step-two {
  background-color: hsl(140deg, 93%, 60%);
}
.addroom__progression.step-three::after {
  background-color: hsl(140deg, 93%, 60%);
}
.addroom__container {
  background-color: hsl(0deg, 0%, 9%);
  color: hsl(0deg, 0%, 100%);
  overflow-x: hidden;
  overflow-y: scroll;
  border: none;
  padding: 1.2rem 1.5rem;
  width: min(100vw - 5rem, 30rem);
  aspect-ratio: 1/1.5;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  opacity: 0;
}
.addroom__container::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.7rem;
}
.addroom__container::-webkit-scrollbar-thumb {
  background: hsl(0deg, 0%, 23%);
}
.addroom__container::-webkit-scrollbar-track {
  background: hsl(0deg, 0%, 14%);
}
.addroom__container h5,
.addroom__container h4 {
  margin: 0;
}
.addroom__container::backdrop {
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}
@supports (-moz-appearance: none) {
  .addroom__container::backdrop {
    opacity: 1;
  }
}
.addroom__container[open] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  animation: slide-in 600ms forwards, fade-in 500ms forwards;
}
.addroom__container[open]::backdrop {
  animation: fade-in 500ms forwards;
}
.addroom__container [class^=icon__]::after {
  color: white;
}
.addroom__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addroom__title {
  text-align: center;
}
.addroom__stories {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.addroom__invitations {
  display: flex;
  flex-wrap: wrap;
  gap: 0rem 0.5rem;
}
.addroom__invitations .btn-text-only:hover {
  color: hsl(0deg, 0%, 60%);
  text-decoration-line: line-through;
}
.addroom__friends {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.addroom__input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

/*# sourceMappingURL=App.css.map */
