/* setup default state ----------------------------------------------------- */

html,
body {
    box-sizing: border-box;
    height: 100%;
<<<<<<< HEAD
    /* background-color: rgb(139, 0, 0); */

    color: #333;
=======
>>>>>>> alexis
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
}

/* rules ------------------------------------------------------------------- */
