@use "../abstracts" as *;

.btn-primary {
    cursor: pointer;

    background-color: setcolor(alert, 400);
    transition: background-color 350ms ease-in;

    border: 0px;
    border-radius: 5px;

    padding: 0.7rem;

    ~ span {
        color: setcolor(text-dk, 300);

        a {
            cursor: pointer;
            color: white;
            text-decoration: solid underline white 1px;
            text-underline-offset: 0.1rem;
        }
    }
    &:hover,
    &:focus {
        background-color: setcolor(alert, 500);
        transition: background-color 350ms;
    }
}

.btn-close {
    cursor: pointer;

    background: none;
    color: setcolor(text-dk, 500);
    border: none;

    margin-right: -10px;

    &:hover &__icon {
        transform: rotate(1.25turn);
        transition: transform 700ms ease-in-out;
    }
}
