@use "../abstracts" as *;

button {
    cursor: pointer;
}

.btn-primary {
    background-color: setcolor(alert, 400);

    border: 0px;
    border-radius: $corner;
    padding: 0.7rem;

    transition: background-color 350ms ease-in;

    ~ span {
        color: setcolor(text-dk, 300);

        a {
            cursor: pointer;
            color: white;
            text-decoration: solid underline white 1px;
            text-underline-offset: 0.1rem;
        }
    }
    &:hover,
    &:focus {
        background-color: setcolor(alert, 500);

        transition: background-color 350ms;
    }
}

.btn-secondary {
    @include flex-center;
    background-color: setcolor(secondary, 300);

    gap: 1rem;
    padding: 1rem;
    border: none;
    border-radius: $corner;

    &:hover,
    &:focus {
        background-color: setcolor(secondary, 500);

        transition: background-color 350ms;
    }
}

.btn-close,
.btn-back {
    color: setcolor(text-dk, 500);

    background: none;
    border: none;
    margin: 0px -10px;

    transition: all 100ms ease-in;

    &:hover &__icon {
        transform: rotate(1.25turn);

        transition: transform 700ms ease-in-out;
    }

    &.inactive {
        color: setcolor(text-dk, 300);

        cursor: default;
    }
}

.btn-story {
    color: setcolor(text-dk, 500);

    background: none;
    border: none;

    &__image {
        width: 100%;
        aspect-ratio: 1/0.33;
        border-radius: $corner;
        overflow: hidden;

        img {
            @include image-cover;
        }
        &:hover {
            img {
                filter: contrast(115%);
            }
        }
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        margin-top: 0.3rem;
    }
    &__description {
        color: setcolor(text-dk, 400);

        text-align: left;
    }
}

.btn-friend {
    color: setcolor(text-dk, 500);

    position: relative;
    background: none;
    border: none;

    > span {
        color: setcolor(error, 500);

        position: absolute;
        right: 0;
        top: 1.5rem;
        height: inherit;
        opacity: 0;
    }

    &.selected {
        > span {
            animation: fade-in 250ms forwards;
        }
        .friend-card {
            background-color: setcolor(background-color, 400);

            border-radius: $corner;

            &:hover {
                background-color: setcolor(background-color, 500);

                transition: background-color 350ms;
            }
        }
    }
}

.btn-text-only {
    color: setcolor(alert, 400);

    background: none;
    border: none;
}
