@use "../abstracts" as *;

.friend-card {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1em;

    &__image {
        width: 4.5rem;
        aspect-ratio: 1/1;
        border-radius: $corner * 2;

        overflow: hidden;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
            @include image-cover;
        }
    }
    &__details {
        @include flex-column-center;

        align-items: flex-start;
        gap: 0;
    }
    &__username {
        color: setcolor(text-dk, 300);
    }

    &:hover {
        background-color: setcolor(background-color, 300);

        border-radius: $corner * 2;

        transition: background-color 150ms ease-in-out;
    }
}

.inrooms-card {
    min-width: 15rem;
    min-height: 22.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__img {
        position: relative;
        width: 100%;
        aspect-ratio: 2/3;
        border-radius: $corner;
        overflow: hidden;

        img {
            @include image-cover;
        }
    }

    &__label {
        @include flex-center;
        color: setcolor(text-wh, 300);
        background-color: setcolor(alert, 400);

        position: absolute;
        height: 2rem;
        bottom: 1rem;
        width: 100%;
    }

    &__hover {
        height: 100%;
        position: absolute;
        top: 0;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        background: rgb(0, 0, 0);
        background: linear-gradient(
            20deg,
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0.7) 20%,
            rgba(0, 0, 0, 0.3) 100%
        );
        opacity: 0;
        padding: 2rem 1rem;
    }

    &:hover &__hover {
        z-index: 1;
        transform: scale(1.025);
        opacity: 1;

        transition: transform 150ms ease-in;
        animation: fade-in 150ms ease-in;
    }

    &__add {
        @include flex-center;
        background-color: setcolor(background-color, 300);
        border: 5px dashed setcolor(background-color, 200);

        height: 100%;
        border-radius: $corner;
        position: relative;

        &::after {
            background: setcolor(background-color, 400);

            cursor: pointer;
            position: absolute;
            bottom: 0.5rem;
            right: 0.6rem;
            font-weight: 700;
            border-radius: 10px;
            padding: 0.5rem 0.8rem;
            content: "\e145";
        }
    }
}

.public-rooms-card {
    min-width: 15rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;

    &__full {
        .public-rooms-card {
            &__img {
                z-index: 0;

                img {
                    filter: grayscale(70%);
                }

                &::before {
                    z-index: 1;
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.233);
                }
                &::after {
                    background: setcolor(background-color, 400);

                    position: absolute;
                    bottom: 0.5rem;
                    right: 0.6rem;
                    font-weight: 700;
                    border-radius: 10px;
                    padding: 0.5rem 0.8rem;
                    content: "FULL";
                }
            }
            &__title {
                color: setcolor(text-dk, 300);
            }
            &__hover {
                display: none;
            }
        }
    }

    > *:last-child {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    &__img {
        width: 100%;
        aspect-ratio: 1/1;
        border-radius: $corner;
        overflow: hidden;
        position: relative;

        img {
            @include image-cover;
        }
    }

    &__hover {
        opacity: 0;
        position: absolute;
        background: rgb(0, 0, 0);
        background: linear-gradient(
            20deg,
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0.7) 20%,
            rgba(0, 0, 0, 0.5) 100%
        );
        height: 100%;
        top: 0;
        border-radius: $corner;
        padding: 1rem;

        li::before {
            color: setcolor(alert, 400);

            margin-right: 0.5rem;
        }
    }

    &:not(.public-rooms-card__full .public-rooms-card) {
        img: {
            filter: contrast(200%);
        }
    }

    &:not(.public-rooms-card__full .public-rooms-card) &__title p {
        background-color: setcolor(background-color, 400);
        color: setcolor(text-dk, 400);

        flex: 1;
        margin-top: 7px;
        border-radius: $corner;
    }

    &:hover:not(.public-rooms-card__full .public-rooms-card) &__hover {
        opacity: 1;

        animation: fade-in 150ms ease-in;
    }
    p {
        padding: 0.7rem;
    }
    h5 {
        margin: 0;
    }
}

.sidebar__quickcard {
    &__img {
        width: 100%;
        aspect-ratio: 1/0.4;
        border-radius: $corner;
        overflow: hidden;

        img {
            @include image-cover;
        }
    }
    span {
        color: setcolor(text-dk, 400);
    }
    &:hover {
        span {
            color: setcolor(text-dk, 500);

            transition: color 150ms ease-in;
        }
        img {
            filter: contrast(115%);
        }
    }
}
