@use "../abstracts" as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        color: setcolor(alert, 400);
    }

    &__menu > ul {
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        li {
            background-color: setcolor(background-color, 300);

            cursor: pointer;
            width: 3.5rem;
            aspect-ratio: 1/1;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                @include image-cover;
            }
        }
    }
}
