@use "../abstracts" as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        color: setcolor(alert, 400);
    }

    &__menu > ul {
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        li {
            cursor: pointer;

            width: 3.5rem;
            aspect-ratio: 1/1;
            border-radius: 50%;

            background-color: setcolor(background-color, 300);
            overflow: hidden;

            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                @include image-full;
            }
        }
    }
}
