[class^="icon__"] {
    &::before {
        margin-right: 25px;
        vertical-align: middle;
    }
    &::after {
        vertical-align: middle;
    }
}

.icon {
    &__room::before {
        content: "\eb4f";
    }
    &__assets::before {
        content: "\e02f";
    }
    &__characters::before {
        content: "\e84e";
    }
    &__seat::before {
        content: "\efed";
    }
    &__story::before {
        content: "\e411";
    }
    &__dm::before {
        content: "\ea3e";
    }
    &__selected::before {
        content: "\f230";
    }

    &__add-friend::after {
        content: "\e7fe";
    }
    &__edit::after {
        content: "\e745";
    }
}
