@use "../abstracts" as *;

input,
textarea {
    border-color: setcolor(text-dk, 400);

    color: white;
    outline: 0;
    background: none;
    padding: 0.7rem 0.6rem;
    border-width: 0 0 1px;

    transition: background-color 150ms ease-in;

    &::placeholder {
        color: setcolor(text-dk, 300);

        padding: 0.4rem;
    }

    &:hover,
    &:focus {
        background-color: hsla(0, 0%, 0%, 0.308);

        transition: background-color 150ms ease-in;
    }
}

textarea {
    width: 100%;
    resize: none;
}

input:not([type="checkbox"]) {
    width: 100%;
}

.input {
    &-checkbox {
        display: flex;
        gap: 0.5rem;
    }
}

.input-default {
    &::placeholder {
        color: setcolor(text-dk, 400);
    }
}

.addroom__input-field {
    position: relative;
    input ~ span {
        position: absolute;
        right: 0;
        top: 5px;
    }
    textarea ~ span {
        position: absolute;
        right: 0;
        bottom: 10px;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
