@use "../abstracts" as *;

input {
    color: white;

    padding: 0.7rem 0.6rem;

    outline: 0;
    background: none;

    border-width: 0 0 1px;
    border-color: setcolor(text-dk, 400);
    transition: background-color 150ms ease-in;

    &::placeholder {
        color: setcolor(text-dk, 300);
        padding: 0.4rem;
    }

    &:hover,
    &:focus {
        background-color: hsla(0, 0%, 0%, 0.308);
        transition: background-color 150ms ease-in;
    }
}

input:not([type="checkbox"]) {
    width: 100%;
}

.input {
    &-checkbox {
        display: flex;
        gap: 0.5rem;
    }
}
