@use "../abstracts" as *;

.addroom {
    &__progression {
        background-color: setcolor(text-dk, 300);

        position: relative;
        width: 2em;
        height: 4px;
        margin-top: -5px;

        transition: background-color 200ms ease-in;

        &::before,
        &::after {
            background-color: setcolor(text-dk, 300);

            content: "";
            position: absolute;
            width: 2em;
            height: 4px;

            transition: background-color 250ms ease-in-out;
        }

        &::before {
            left: -2.5em;
        }

        &::after {
            right: -2.5em;
        }

        &.step-one::before {
            background-color: setcolor(alert, 500);
        }
        &.step-two {
            background-color: setcolor(alert, 500);
        }
        &.step-three::after {
            background-color: setcolor(alert, 500);
        }
    }

    &__container {
        @include scrollbar-dark;
        background-color: setcolor(background-color, 500);
        color: setcolor(text-dk, 500);

        overflow-x: hidden;
        overflow-y: scroll;
        border: none;
        padding: 1.2rem 1.5rem;
        width: min(100vw - 5rem, 30rem);
        aspect-ratio: 1 / 1.5;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
        opacity: 0;

        h5,
        h4 {
            margin: 0;
        }

        &::backdrop {
            background: rgba(0, 0, 0, 0.5);
            opacity: 0;

            @supports (-moz-appearance: none) {
                opacity: 1;
            }
        }

        &[open] {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1rem;

            animation: slide-in 600ms forwards, fade-in 500ms forwards;

            &::backdrop {
                animation: fade-in 500ms forwards;
            }
        }

        [class^="icon__"]::after {
            color: white;
        }
    }
    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        text-align: center;
    }
    &__stories {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    &__invitations {
        display: flex;
        flex-wrap: wrap;
        gap: 0rem 0.5rem;

        .btn-text-only:hover {
            color: setcolor(text-dk, 400);

            text-decoration-line: line-through;
        }
    }

    &__friends {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    &__input {
        @include flex-column-center;
    }
}

.terms-modal {
    a {
        color: white;
        text-decoration: solid underline white 1px;
        text-decoration: none;
        padding: 0;

        position: relative;

        &:before {
            content: "";
            position: absolute;
            width: 110%;
            // height: 5px;
            bottom: -0.15em;
            left: -5%;
            border-bottom: 1px solid rgb(255, 255, 255);
        }
    }

    &__container {
        background-color: setcolor(background-color, 500);
        color: setcolor(text-dk, 500);
        font-weight: 300;

        border-radius: 5px;

        border: none;
        padding: 2.2rem 2.2rem;
        width: min(100vw - 5rem, 30rem);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);

        aspect-ratio: 1 / 1;

        button {
            align-self: flex-end;
        }

        p {
            font-size: 0.85em;
        }

        &::backdrop {
            background: rgba(0, 0, 0, 0.5);
            opacity: 0;

            @supports (-moz-appearance: none) {
                opacity: 1;
            }
        }

        &[open] {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            animation: slide-in 300ms forwards, fade-in 250ms forwards;
            &::backdrop {
                opacity: 0.7;

                animation: fade-in 250ms forwards;
            }
        }
    }
}
